<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ex01.mapper.MemberMapper"> 
	<resultMap type="com.ex01.domain.MemberVO" id="memberMap">
		<id property="member_id" column="member_id"/>
		<result property="member_id" column="member_id"/>		
		<result property="member_pwd" column="member_pwd"/>
		<result property="member_name" column="member_name"/>
		<result property="member_birth" column="member_birth"/>
		<result property="member_gender" column="member_gender"/>
		<result property="member_address" column="member_address"/>
		<result property="member_phone" column="member_phone"/>
		<result property="member_regdate" column="member_regdate"/>
		<result property="member_updatedate" column="member_updatedate"/>
		<result property="member_enabled" column="member-enabled"/>
		<collection property="authList" resultMap="authMap">
		</collection>
	</resultMap>
	<resultMap type="com.ex01.domain.AuthVO" id="authMap">
		<result property="userid" column="userid"/>
		<result property="auth" column="auth"/>		
	</resultMap>
	<insert id="join">
		insert into member(member_type, member_id, member_pwd, member_name, member_birth, member_gender, member_address, member_phone, member_email)
		values(#{member_type}, #{member_id},#{member_pwd},#{member_name},#{member_birth},#{member_gender},#{member_address},#{member_phone},#{member_email});
	</insert>
	
	<select id="login" resultType="com.ex01.domain.MemberVO">
		SELECT member_id, member_pwd
		FROM member
		where member_id = #{member_id} AND member_pwd = #{member_pwd}
	</select>
</mapper>